
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
        transition: all 0.3s ease-in-out;

}

.bg-image{
    background-image: url(../images/bg-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    /* z-index: -1; */
    

}
.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding-top: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #262626;
    padding-top: 20px;

}
.logo{
    color:white;
    font-family: 'Irish Grover';
    font-size: 2rem;
    text-decoration: none;

}

.nav_items{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;

}
.nav_items li{
    list-style: none;
    margin-left: 20px;
}
.nav_items a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    

}
.nav_items a:hover{
    color: #ffcc00;
}

.nav_items .logo-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.banner-content{
    height: 500px;
    padding: 10px;
}
.image-stack{
    position: relative;
    height: 500px;
    width: 500px;
}
.image-stack img{
    position: absolute;
  
    width: 40%;
    height: 40%;
    object-fit: cover;
    filter: brightness(50%);
    
}
.image-stack .img-1{
    top: 0;
    left: 0;
}
.image-stack .img-2{
    top: 0;
    right: 0;
}.image-stack .img-3{
    bottom: 0;
    right: 0;
}
.image-stack .img-4{
    bottom: 25%;
    right: 25%;
    top:25%;
    left: 25%;
}
.image-stack .img-5{
    bottom: 0;
    left: 0;
}

.banner-heading{
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
    
}


.banner-sub{
    width: 50%;
    margin-top: 20px;
}

.btn-success{
    background-color: #228200 !important;
    border-color: #228200 !important;
    width: fit-content;
}
.sub-head{
    color:#00000066

}
.heading{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}
#services{
    padding-top: 50px;
}
.circle{
    background-color: #228200;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    padding: 20px;
}
.circle img{

    object-fit: scale-down;
  
}
.circle-card{
    border-radius: 10px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 60%;
    min-width: 250px !important;
    margin-top:70px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.card-title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px !important;
    text-transform: capitalize !important;
}
.card-text{
    font-size:13px;
}
.wu-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
}
.wu-sub-head{
    font-size: 18px;
    color: #00000088;
    width: 80%;
}
.whyus img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-bottom: 10px;
}
.whyus{
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;

}
.whyus>.row>.col-md-4{
    padding: 10px;
}
.design-row{
    background-color: #228200;
    padding: 10px;
}
.dflex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}
.design-card{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    color: white;
    width:150px;
    height: 250px;
}
.design-card img{
    height: 100px;
    width: auto;
    object-fit: cover;
    margin-bottom: 10px;

}
.design-button{
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
}
.design-sub span{
    color: #228200;
}
.design-button:hover{
    background-color: #228200;
    color: white;
}

#file{
    width: 100%;
    height: 500px;
    background-image: url(../images/bg-filesupport.jpg);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    

}
#file .overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white ;
    flex-direction: column;
}
#file .heading{
    color: white;
}
#file h3{
    width: 70%;
}

footer{
    background-color: #262626;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #ffcc00;
}
footer .col-md-4{
   padding: 10px 10%;
}